@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'VT323', monospace;
    transition: 0.5s all;
    overflow: hidden;
}

body,
html {
    height: 100vh;
}

body {
    background-image: url(../img/lobbyBackground.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: black;
}

#lobby {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    flex-direction: column;
    margin: 0 auto;
    position: relative;
    top: 170px;

}

#loader {
    border: 13px solid #ffffff;
    box-shadow: 0 0 20px rgb(0, 0, 0);
    border-radius: 50%;
    border-top: 13px solid blueviolet;
    width: 100px;
    height: 100px;
    display: none;
    margin: 0 auto;
    position: relative;
    top: 43%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#headline {
    font-size: 100px;
    text-shadow: 1px 2px 5px rgba(255, 255, 255, 0.631);
}

#play,
#author,
#story {
    font-size: 60px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition: 0.5s ease;
    text-transform: uppercase;
}

#skipIntroBtn {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 60px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: white;
    transition: 0.5s ease;
    text-transform: uppercase;
}

#author a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

#play:hover {
    text-decoration: underline;
    color: white;
    background-color: black;
}

#skipIntroBtn:hover {
    text-decoration: underline;
    color: rgb(255, 0, 0);
}

#author:hover {
    text-decoration: underline;
    color: white;
    background-color: black;
}

#author a:hover {
    text-decoration: underline;
    color: white;
}

#story:hover {
    text-decoration: underline;
    color: white;
    background-color: black;
}

#storyinfo {
    display: none;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    text-align: center;
    font-size: xx-large;
    padding: 1em;
    height: 100vh;
}

#storyinfo p {
    width: 1000px;
}

#storyinfo #nextBtn {
    width: 200px;
    color: white;
    background-color: black;
    padding: 1em;

    border: 3px solid white;
    cursor: pointer;
    font-size: xx-large;
    transition: 0.3s ease;
    box-shadow: 0 0 25px white;
}

#storyinfo #sendInputBtn {
    width: 200px;
    color: white;
    background-color: black;
    padding: 1em;

    border: 3px solid white;
    cursor: pointer;
    font-size: xx-large;
    transition: 0.3s ease;
    box-shadow: 0 0 25px white;
}

#storyinfo #nextBtn:hover {
    border-radius: 20px;
}

#storyinfo #sendInputBtn:hover {
    border-radius: 20px;
}

#storyPartInput {
    background-color: black;
    color: white;
    border: 1px solid white;
    transform: scale(3);
    display: none;
    position: absolute;
}

#yourName {
    display: none;
    text-transform: uppercase;
    color: white;
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: x-large;
}

#yourXPText {
    display: none;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 75px;
    right: 25px;
    font-size: x-large;
    z-index: 999;
}

#yourHPText {
    display: none;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: x-large;
    z-index: 999;
}

#yourDamageText {
    display: none;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 45px;
    right: 25px;
    font-size: x-large;
    z-index: 999;
}

#realtimepresented {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: xx-large;
    display: block;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}

#planets {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 70px;
    position: relative;
    top: 0;
    margin-right: auto;
    transform: scale(1.9);
    padding: 0;

}

#nameOfPlanet {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 0px red;
}

#nameOfPlanetDeesdav {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 0px rgb(255, 255, 255);
    display: none;
}

#nameOfPlanetDC {
    color: white;
    text-align: center;
    text-shadow: 1px 1px 0px blue;
    display: none;
}

#marvelPlanet {
    width: 200px;
    height: 200px;
    cursor: pointer;
    border-radius: 50%;
    padding: 0;

}

#marvelPlanet:hover {
    animation: boxPlanet 1s alternate infinite;
}

#deesdavPlanet {
    width: 200px;
    height: 200px;
    cursor: pointer;
    border-radius: 50%;
    padding: 0;
    display: none;
}

#deesdavPlanet:hover {
    animation: boxPlanet2 1s alternate infinite;
}

#dcPlanet {
    width: 200px;
    height: 200px;
    cursor: pointer;
    border-radius: 50%;
    padding: 0;
    display: none;
}

#dcPlanet:hover {
    animation: boxPlanet3 1s alternate infinite;
}

@keyframes boxPlanet {
    from {
        box-shadow: 0 0 25px brown inset;
    }

    ;

    to {
        box-shadow: 0 0 25px red inset;
    }

    ;
}

@keyframes boxPlanet2 {
    from {
        box-shadow: 0 0 25px gray inset;
    }

    ;

    to {
        box-shadow: 0 0 25px rgb(255, 255, 255) inset;
    }

    ;
}

@keyframes boxPlanet3 {
    from {
        box-shadow: 0 0 25px skyblue inset;
    }

    ;

    to {
        box-shadow: 0 0 25px blue inset;
    }

    ;
}

#levelsText {
    text-align: center;
    font-size: 50px;
    color: white;
    display: none;
    padding-bottom: 15px;
}

#levelInfo {
    text-align: center;
    font-size: 50px;
    color: white;
    display: none;
    padding-bottom: 15px;
}

#gridOfLevels {
    display: none;
    margin: 0 auto;
    grid-template-columns: auto auto auto auto auto;
    gap: 10px;
    height: auto;
    width: 650px;
}

#levelONE,
#levelTWO,
#levelTHREE,
#levelFOUR,
#levelFIVE,
#levelSIX,
#levelSEVEN,
#levelEIGHT,
#levelNINE,
#levelTEN,
#levelELEVEN,
#levelTWELVE,
#levelTHIRTEEN,
#levelFOURTEEN,
#levelFIFTEEN {
    border: 3px solid white;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
    margin: 0 auto;
    width: 120px;
    height: 120px;
    padding: 1em;
    background-color: transparent;
}

#gridOfLevels button:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.555);
    border: 3px solid rgb(255, 255, 255);
}

#gridOfLevelsDC {
    display: none;
    margin: 0 auto;
    grid-template-columns: auto auto auto auto auto;
    gap: 10px;
    height: auto;
    width: 650px;
}

#dcLevelONE,
#dcLevelTWO,
#dcLevelTHREE,
#dcLevelFOUR,
#dcLevelFIVE,
#dcLevelSIX,
#dcLevelSEVEN,
#dcLevelEIGHT,
#dcLevelNINE,
#dcLevelTEN,
#dcLevelELEVEN,
#dcLevelTWELVE,
#dcLevelTHIRTEEN,
#dcLevelFOURTEEN,
#dcLevelFIFTEEN {
    border: 3px solid white;
    border-radius: 10px;
    text-align: center;
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
    margin: 0 auto;
    width: 120px;
    height: 120px;
    padding: 1em;
    background-color: transparent;
}

#gridOfLevelsDC button:hover {
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.555);
    border: 3px solid rgb(255, 255, 255);
}

#levelsBox {
    position: relative;
    top: 100px;
}

#storyrecap {
    padding: 1em;
    position: relative;
    top: 0;
    padding-top: 220px;
    font-size: xx-large;
    display: none;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.931);
    width: fit-content;
    height: 100%;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}

#storyrecap p {
    padding: 1em;
    color: white;
    font-size: xx-large;
}

#game {
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    background-color: white;
    position: relative;
    border-radius: 10px;
    top: 40px;
    text-transform: uppercase;
    display: none;
    margin: 0 auto;
    width: 1111px;
    height: 666px;
    border: 0.3em solid #333;

}

#heroIdle {
    display: block;
    height: min-content;
    width: min-content;
    position: relative;
    top: 72%;
    left: 20%;
    transform: scale(1.5);
    transition: 0.5s ease;
    animation: heroMoving 1s infinite alternate linear;
}

#heroAttack {
    display: none;
    height: min-content;
    width: min-content;
    position: relative;
    top: 72%;
    left: 35%;
    transform: scale(1.5);
    transition: 0.5s ease;
    animation: heroMoving 1s infinite alternate linear;
}

#enemy {
    height: 120px;
    width: 120px;
    position: relative;
    top: 75%;
    transform: scale(1.5);
    left: 40%;
    cursor: crosshair;
    animation: enemyMoving 1s infinite;

}

#enemyName {
    text-transform: uppercase;
}

#yourHpTextPromName {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #333;
    color: rgb(255, 255, 255);
    padding: 15px;
    box-shadow: 2px 0 25px rgb(0, 255, 0);
    text-shadow: 0 0 0px rgb(0, 255, 0);
    border-radius: 0 0 1em 0;
    text-transform: uppercase;
}


#enemyHpTextPromName {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #333;
    color: rgb(255, 255, 255);
    padding: 15px;
    box-shadow: 2px 0 25px rgb(255, 0, 0);
    text-shadow: 0 0 0px rgb(255, 0, 0);
    border-radius: 0 0 0 1em;
    text-transform: uppercase;
}

#gameResult {
    color: white;
    font-size: xxx-large;
    display: none;
    position: relative;
    top: 320px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    cursor: pointer;
}

@keyframes enemyMoving {

    from {
        left: 27%;
    }

    ;

    to {
        left: 40%;
    }

    ;
}

@keyframes heroMoving {

    from {
        top: 73%;
    }

    ;

    to {
        top: 72%;
    }

    ;
}

#backBtn {
    text-transform: uppercase;
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    right: 15px;
    padding: 1em;
    border: 3px solid white;
    border-radius: 1em;
    background-color: transparent;
    color: rgb(255, 255, 255);
    display: block;
    font-size: x-large;
    height: min-content;
    width: min-content;
    display: none;
    z-index: 999;
}

#backBtnDC {
    text-transform: uppercase;
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    right: 15px;
    padding: 1em;
    border: 3px solid white;
    border-radius: 1em;
    background-color: transparent;
    color: rgb(255, 255, 255);
    display: none;
    font-size: x-large;
    height: min-content;
    width: min-content;
    display: none;
    z-index: 999;
}

#infoBtn {
    text-transform: uppercase;
    cursor: pointer;
    position: absolute;
    bottom: 40px;
    right: 40px;
    padding: 1em;
    border: 3px solid white;
    border-radius: 1em;
    background-color: transparent;
    color: rgb(255, 255, 255);
    display: none;
    font-size: x-large;
    height: min-content;
    width: min-content;
    display: none;
}

#infoBox {
    padding: 10px;
    position: absolute;
    top: 0;
    padding-top: 200px;
    font-size: xx-large;
    display: block;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.931);
    width: fit-content;
    height: 100%;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    display: none;
}

#infoBox div {
    color: white;
    font-size: xx-large;
    padding-left: 7px;
}

#shopBtn {
    text-transform: uppercase;
    cursor: pointer;
    position: absolute;
    bottom: 40px;
    left: 40px;
    padding: 1em;
    border: 3px solid white;
    border-radius: 1em;
    background-color: transparent;
    color: rgb(255, 255, 255);
    display: none;
    font-size: x-large;
    height: min-content;
    width: min-content;
    display: none;
}

#shop {
    z-index: 1;
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 220px;
    color: white;
    text-shadow: 1px 1px 10px black;
    text-transform: uppercase;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/shop.png);
}

#shop h2 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    font-size: xx-large;
    text-shadow: 1px 1px 5px black;
    font-weight: bold;
}

#shop div {
    text-align: center;
    padding: 1em;
    font-size: xx-large;
    text-shadow: 1px 1px 5px black;
    font-weight: bolder;
}

#merchant {
    display: block;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    padding: 1em;
}

#merchant button {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    border: 3px solid black;
    background-color: rgba(0, 0, 0, 0.684);
    color: #ffffff;
    font-size: xx-large;
    cursor: pointer;
    transition: .3 ease;
    text-transform: uppercase;
}

#merchant button:hover {
    background-color: white;
    color: black;
    border-radius: 50% 20% / 10% 40%;
}

#customization {
    display: block;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    padding: 1em;
}

#customization button {
    width: 100px;
    border-radius: 10px;
    height: 100px;
    border: 3px solid white;
    color: #000000;
    font-size: xx-large;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.3 ease;
    text-transform: uppercase;
    border-radius: 50% 20% / 10% 40%;
}

#customization button:hover {
    background-color: black;
    color: white;
}

#redColor {
    background-color: rgba(255, 0, 0, 0.875);
}

#greenColor {
    background-color: rgba(0, 255, 0, 0.875);
}

#blueColor {
    background-color: rgba(0, 0, 255, 0.875);
}

#yellowColor {
    background-color: rgba(255, 255, 0, 0.875);
}

#backBtnShop {
    text-transform: uppercase;
    cursor: pointer;
    position: absolute;
    bottom: 15px;
    right: 15px;
    padding: 1em;
    border: 3px solid white;
    border-radius: 1em;
    background-color: transparent;
    color: white;
    display: block;
    font-size: x-large;
    height: min-content;
    width: min-content;
    display: none;
    z-index: 999;
}

#overview {
    display: none;
    margin: 0 auto;
    color: white;
    padding: 1em;
    position: absolute;
    right: 235px;
}

#overview img {
    height: 250px;
    width: 250px;
    position: relative;
    bottom: 50px;
}

#winAndLoss {
    text-align: center;
    font-size: x-large;
    color: white;
    display: none;
    position: absolute;
    top: 10px;
    right: 156px;
}

#winsCounter {
    color: rgb(0, 255, 0);
    text-shadow: 0 0 2px black;
    font-weight: bold;
}

#lossesCounter {
    color: red;
    text-shadow: 0 0 2px black;
    font-weight: bold;
}

#deesdavDimension {
    display: none;
    margin: 0 auto;
    height: 666px;
    width: 666px;
    background-image: url(../img/deesdav.dimension.png);
    animation: boxShadow 1s alternate linear infinite;
    border-radius: 1em;
    position: relative;
    top: 20px;
    padding: 1em;
    background-position: center;
}

@keyframes boxShadow {
    from {
        box-shadow: 0 0 50px white;
    }

    ;

    to {
        box-shadow: 0 0 10px white;
    }

    ;
}

#dot {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #333;
    background-color: rgb(0, 0, 0);
    position: relative;
    cursor: pointer;
    color: white;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    display: block;
}

#countDownText {
    display: none;
    text-align: center;
    margin: 0 auto;
    color: white;
    font-size: xx-large;
    padding: 0;
}

#multiverse {
    display: none;
    border: 3px solid white;
    border-radius: 50%;
    height: 115px;
    width: 115px;
    cursor: pointer;
    font-size: medium;
}

#multiverse:hover {
    transform: scale(1.2);
}

table {
    position: absolute;
    right: 5px;
    bottom: 5px;
    text-transform: none;
    border: 2px solid rgb(255, 255, 255);
    border-collapse: collapse;
    transform: scale(0.7);
}

table:hover {
    transform: scale(0.8);
    right: 0px;
    bottom: 0px;
}

tr th {
    border: 2px solid white;
    padding: 10px;
    background-color: white;
    color: black;
}

tr td {
    border: 2px solid white;
    padding: 10px;
}

tr:nth-child(2) td:nth-child(2) {
    background-color: red;
    color: black;
}

tr:nth-child(3) td:nth-child(2) {
    background-color: rgb(0, 255, 0);
    color: black;
}

tr:nth-child(4) td:nth-child(2) {
    background-color: rgb(0, 0, 255);
    color: black;
}

tr:nth-child(5) td:nth-child(2) {
    background-color: rgb(255, 255, 0);
    color: black;
}

tr:nth-child(6) td:nth-child(2) {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

tr:nth-child(7) td:nth-child(2) {
    background-color: rgb(255, 0, 255);
    color: black;
}